@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

@font-face {
    font-family: 'existencelight';
    src: url('../fonts/existence_light_macroman/Existence-Light-webfont.eot');
    src: url('../fonts/existence_light_macroman/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/existence_light_macroman/Existence-Light-webfont.woff2') format('woff2'),
         url('../fonts/existence_light_macroman/Existence-Light-webfont.woff') format('woff'),
         url('../fonts/existence_light_macroman/Existence-Light-webfont.ttf') format('truetype'),
         url('../fonts/existence_light_macroman/Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "existencelight", sans;
    background-image: url("../links/terrazzo.png");
    color: #A1AFAA;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5;
    text-align: center
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;    
    letter-spacing: +10px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

div.wrapper {
    background: #002827;
    width:84%;
  
    margin: 8% 8% 8% 8%;
    padding: 30px;

}

h1{
    font-size: 410%;
    text-align: center;
    font-weight: 600;
    letter-spacing:2px;
    font-family: 
   
}

.center{
    margin: 0 auto;
    display: block;
}

p{
    width: 600px;
    margin: 0 auto;
    display: block;
    padding: 15px;
}

ul {
    text-align: center;
    list-style-position: inside;
    text-indent: -65px;
}

a:link{
    color:#9aa0a8;
}


a:visited{
    color:#776c67;
}

a:hover{
    color:#b1c0bb;
}

a:active{ 
    color:#546a76;
}

img{
    padding:5px;
}